@import '../../assets/styles/reset.scss';
@import '../../assets/styles/variables.scss';

.bondCard {
  border: 1px solid white;;
  width: 90%;
  height: 650px;
  border-radius: 10px;
  // justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;

}