@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  margin: 10px auto;
}

.button > * {
  background-color: #0018A8;
}

.container {
  margin: 3% 25% 0 25%;
  border: 1px solid #0018A8;
  border-radius: 10px;
  text-align: center;
}

.span {
  color: #00A3E0;
  font-size: 66px;
  background: greenyellow;
}
/*# sourceMappingURL=Login.module.css.map */