@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.header {
  font-size: medium;
}

.container {
  width: 1200;
}

.open {
  display: inline-block;
}

.closed {
  display: none;
}

.transactionHeader {
  color: #0018A8;
  font-size: larger;
  text-align: center;
  margin-top: 20px;
}
/*# sourceMappingURL=Transactions.module.css.map */