@import "../../assets/styles/variables.scss";

.header {
    // background-color: $db-primary;
    // color: white;
    font-size: medium;
}

.container {
    width: 1200;

}

.open {
    display:inline-block;
  }

.closed {
    display:none;
  }
.transactionHeader {
  color: $db-primary;
  font-size: larger;
  text-align: center;
  margin-top: 20px;
  }

