@import "../../assets/styles/variables.scss";
@import "../../assets/styles/typography.scss";

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.button {
    margin: 10px auto;

    >* {
        background-color: $db-primary;
    }
}

.container {
    margin: 3% 25% 0 25%;
    border: 1px solid $db-primary;
    border-radius: $border-rounding;
    text-align: center;
}

.span {
    color: $db-secondary;
    font-size: $db-small-font;
}