@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.header {
  font-size: larger;
}

.container {
  width: 1200;
}

.container :hover {
  cursor: pointer;
}
/*# sourceMappingURL=BondListWithGrid.module.css.map */