.form {
border: 2px solid #0018a8;
width: 300px;
height: 300px;
border-radius: 5%;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
margin-top: 10%;
button{
    width: 60%;
    justify-content: center;
    margin: auto;
}
.text {
    width: 60%;
    justify-content: center;
    margin: auto;
}
}