* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dayCard {
  padding: 5px;
  margin: 10px;
  width: 20%;
  border: 2px solid blue;
  background-color: gray;
}
/*# sourceMappingURL=DayCard.module.css.map */