* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dayCardHeader {
  // width: 100%;
  height: 50px;
  // background-color: green;
  // border: 1px solid black;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  h6 {
    color: white;
    font-weight: bold;
  }

}



.high {
  background-color: red;
}

.medium {
  background-color: orange;
}

.low {
  background-color: green;
}