* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dayCardHeader {
  height: 50px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dayCardHeader h6 {
  color: white;
  font-weight: bold;
}

.high {
  background-color: red;
}

.medium {
  background-color: orange;
}

.low {
  background-color: green;
}
/*# sourceMappingURL=DayCardHeader.module.css.map */