@import './typography.scss';

$base-spacing: 5px;
$primary-color: red;
$secondary-color: yellow;
$tertiary-color: green;

$primary-border: solid 2px $primary-color;
$secondary-border: solid 2px $secondary-color;
$db-bondDetails-border: 3px;
$db-bondDetails-background: #eeeff1;

$primary-text: $secondary-color;
$secondary-text: gray;
$tertiary-text: rgb(199, 197, 197);

$border-rounding: 10px;

$db-primary: #0018A8;
$db-secondary: #00A3E0;

$font-family: Roboto, sans-serif;
$db-small-font: 10px;
