@import "../../assets/styles/variables.scss";

.navbar {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid darkblue;
    padding: 0 50px 0 20px;

    h1 {
        color: darkblue;
        margin-right: 50%;
    }

    .navIcons {
        display: flex;

        .icon {
            font-size: 44px;
            color: $db-primary;
            margin-right: 10%;
        }

        .userId {
            display: flex;
            flex-direction: column;
            color: $db-primary;
            font-size: 14px;
            text-align: right;
        }
    }

    .logo {
        width: 70px;
        height: 70px;
    }
}

.loggedOut {
    display: none;
}