@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid darkblue;
  padding: 0 50px 0 20px;
}

.navbar h1 {
  color: darkblue;
  margin-right: 50%;
}

.navbar .navIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navIcons .icon {
  font-size: 44px;
  color: #0018A8;
  margin-right: 10%;
}

.navbar .navIcons .userId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0018A8;
  font-size: 14px;
  text-align: right;
}

.navbar .logo {
  width: 70px;
  height: 70px;
}

.loggedOut {
  display: none;
}
/*# sourceMappingURL=Navbar.module.css.map */