@import '../../assets/styles/reset.scss';
@import '../../assets/styles/variables.scss';

.bondDetails {
  border: $db-bondDetails-border solid $db-primary;
  width: 700px;
  height: 750px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  background-color: $db-bondDetails-background;


  .heading {
    color: $db-secondary;
    font-weight: bold;
    // font-size: 30px;
  }

  // .content {
  //   font-size: 30px;
  //   padding-left: 40px;
  // }

  th {
    font-size: 28px;
    text-align: left;
    
  }
}
.closeButton {
  color: $db-primary;
  // border: 1px solid red;
  width: 105%;
  margin-top: 12%;
  // text-align: right;

  // this is another way of doing it.
  display: flex;
  justify-content: flex-end;
  
}