@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bondDetails {
  border: 3px solid #0018A8;
  width: 700px;
  height: 750px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  background-color: #eeeff1;
}

.bondDetails .heading {
  color: #00A3E0;
  font-weight: bold;
}

.bondDetails th {
  font-size: 28px;
  text-align: left;
}

.closeButton {
  color: #0018A8;
  width: 105%;
  margin-top: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=BondDetails.module.css.map */